.carrer{
    
    padding: 40px 0;
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);

    &:first-child{
        padding-top: 0px;
    }

    &:last-child{
        border-bottom: none;
    }

    &-title{
        margin: 0px;

        color: #111;
        font-family: 'Oswald', sans-serif;
        font-size: 1.4rem;
        font-weight: 700;
    }

    &-subtitle{
        font-weight: 300;
        font-style: italic;
    }

    &-date{
        font-weight: 300;
        font-style: normal;
    }

    &-description{
        
        margin-top: 30px;
        margin-bottom: 10px;

        font-family: "Oswald", sans-serif;
        font-size: 1.1rem;
        font-weight: 500;
    }
}