<div class="container">
    <div class="row">

        <div class="side col-12 col-sm-4">
            <h2 class="text-subtitle">
                Carrer
            </h2>
        </div>

        <div class="main col-12 col-sm-8">
            
            <div class="carrer" *ngFor="let work of carrer$ | async">
                
                <h3 class="carrer-title">{{work.company}}</h3>
                <span class="carrer-subtitle">{{work.title}}</span>
                <div class="carrer-date">

                    <span class="carrer-dateItem" >
                        {{work.beginDate}} 
                    </span>  
                    <span class="carrer-dateItem" *ngIf="work.endDate != 'current'">
                        a {{work.endDate}}
                    </span> 
                </div>
                
                <h4 class="carrer-description">
                    <span *ngIf="work.endDate != 'current'">O que fazia?</span>
                    <span *ngIf="work.endDate == 'current'">O que faço?</span>
                </h4>
                <div class="text-paragraph" [innerHTML] = 'work.description'></div>
                
            </div>
            
        </div>
    </div>
</div>
    
