<div class="container">
    <div class="row">
        
        <div class="col-12 col-sm-12 text-center">
            
            <a class="link" target="blank" href="http://www.facebook.com/mhnakashima">
                <fa-icon [icon]="['fab','facebook']"></fa-icon>
            </a>

            <a class="link" target="blank" href="http://www.twitter.com/mhnakashima">
                <fa-icon [icon]="['fab','twitter']"></fa-icon>
            </a>

            <a class="link" target="blank" href="http://www.instagram.com/mhnakashima">
                <fa-icon [icon]="['fab','instagram']"></fa-icon>
            </a>

            <a class="link" target="blank" href="http://www.linkedin.com/mhnakashima">
                <fa-icon [icon]="['fab','linkedin']"></fa-icon>
            </a>
            
        </div>
    </div>
</div>
    
