<div class="portfolio item">

    <div class="portfolio__image main " [ngClass]="(i % 2 != 0 ? 'p_'+ i +' black' : 'p_'+ i)"  *ngFor="let portfolio of portfolio$ | async; let i = index" >
        <img [src]="portfolio.file" alt="image" />
        
        <div class="portfolio__content">
            <div class="portfolio__description">{{portfolio.description}}</div>
            <div class="" *ngIf="portfolio.habilitado">
                <a class="portfolio__link" [href]="portfolio.site" target="_blank">
                    {{portfolio.site}}
                </a>
            </div>
        </div>
    </div>

</div>
