@media (min-width: 30em) and (max-width: 96em){
    .p_0{
        grid-area: p_0;
    }
    .p_1{
        grid-area: p_1;
    }

    .p_2{
        grid-area: p_2;
    }

    .p_3{
        grid-area: p_3;
    }

    .p_4{
        grid-area: p_4;
    }

    .p_5{
        grid-area: p_5;
    }

    .p_6{
        grid-area: p_6;
    }

    .p_7{
        grid-area: p_7;
    }

    .p_8{
        grid-area: p_8;
    }

    .i{
        grid-area: i;
    }
}


.portfolio{
    
    @media (max-width: 30em){
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    @media (min-width: 30em) and (max-width: 96em){

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        grid-template-areas: 

        "p_0 p_1 p_2"
        "p_3 p_4 p_5"
        "p_6 p_7 p_8";
    }

    justify-items: center;
    align-items: center;

    &__image{

        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;

        max-width: 100%;
        width: 100%;

        position: relative;
        overflow: hidden;

        text-align: center;

        >img{
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }

        &:hover{
            
            >img{
               transform: scale(0.5);
            }

            >.portfolio__content{
                bottom: 0px;
            }
        }

        &.black{
            background-color: #0a0a0a;
            
            .portfolio__description, .portfolio__link{
                color: #fff;
            }
        }

        &.greenSoft{
           // background-color: 
        }

        &.yellowSoft{
            background-color: #FFD33B;
        }

        &.orangeSoft{
            background-color: #FF8B00;
        }
    }

    &__content{

        -moz-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;

        bottom: -100%;
        left: 0px;
        position: absolute;
        width: 100%;
        
        padding: 15px;

        text-align: left;
        
    }

    &__description{
        color: #0a0a0a;
        font-family: 'lato', sans-serif;
        font-size: 1rem;
    }

    &__link{
        color: #0a0a0a;
        font-family: 'lato', sans-serif;
        font-size: 1rem;
        font-weight: 700;
    }
}