<div class="container">
    <div class="row">
        <div class="side col-12 col-sm-4">
            <h2 class="text-subtitle">
                About
            </h2>
        </div>

        <div class="col-12 col-sm-8 ">
            
            <div class="text-paragraph">
               Jogador de RPG japonês e descendente de japoneses, comecei a carreira de Front End developer criando
               aplicações para o ramo de Ensino a Distância, isso foi um marco pois obtive a expertise para trabalhar
               com tecnologias que são frente de mercado. Hoje, sou atleta de uma equipe de corrida e nas horas vagas
               gosto de cozinhar, ler Azimov, Tolkien, Martin, além de ser piolho de academia e podcasts.
               
               E não podemos esquecer do café <fa-icon [icon]="['fas','coffee']"></fa-icon> (a força motriz de todo programador).
            </div>
            
        </div>
    </div>
</div>
