/* You can add global styles to this file, and also import other style files */
//font-family: 'Oswald', sans-serif;
//font-family: 'Lato', sans-serif;

@import '~bootstrap/dist/css/bootstrap.min.css';

html{
    scroll-behavior: smooth;
}

body{
    color: #111;
    font-family: 'Lato', sans-serif;
}

.container{
    margin: 25px auto;
}

.portfolio{
    margin: 25px 0;
}

.item{
    @media (max-width: 30em){
        margin-bottom: 35px;
    }

    @media (min-width: 30em) and (max-width: 96em){
        margin-bottom: 80px;
    }
}

.side{
    
    @media (min-width: 30em) and (max-width: 96em){
        text-align: right;
    }
}

.text{
    &-title{

        margin: 0px 0 25px;

        font-family: 'Oswald';
        font-size: 2.4rem;
    }

    &-subtitle{
        font-family: 'Oswald';
        font-size: 2rem;
    }

    &-sectionTitle{
        font-family: 'Lato';
        font-size: 1rem;
        font-weight: 300;
    }

    &-paragraph{
        font-family: 'Lato', sans-serif;
        font-size: 1.2rem;
        font-weight: 300;
    }

    &-right{
        text-align: right;
    }
}

#contact{
    .container{
        margin-bottom: 40px;
    }
}

#footer{
    .container{
        margin-top: 80px;
    }
}

//Utils

.float{
    &-right{
        float: right;
    }
}